body {
	
	background-color: olive;
	margin-bottom: 20%
	margin-top:20%;
	padding: 2%;
	text-align: center;

}

input {

	border-style: solid;
	border-color: gray;
	border-width: 2px;
	color: black;

}

h3 {
	
	text-align: center;
	color: black;	
	font-family: arial-black;
	font-size: 40px;

}

footer {

	text-align: center;
	background-color: #555;
      color: white;
      padding: 15px;
}

label{
	color: black;
}

    .sidenav {
      padding-top: 15px;
      background-color: gray;
      height: 100%;

    }

    .row.content {height: 540px}

 @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .navbar {
      margin-bottom: 0;
      
    }