#corpo{
	background-color: #CDC1C5;
}

.whoami{
	text-align: left;
	background-color: #B4CDCD;
	color: #1C1C1C;
}

.formation{
	text-align: center;
	background-color: #D1EEEE;
	color: #1C1C1C;
}

.hobbies{
	text-align: right;
	background-color: #9BCD9B;
	color: #1C1C1C;
}

#paragrafo{
	text-align: justify-all;
	font-size: 12px;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #708090;
}

#rodape{
	
	text-align: center;

}

#nome{
	position: relative;
	text-align: center;
}

#email{
	position: relative;
	text-align: center;
}

#assunto{
	position: relative;
	text-align: center;
}

#mensagem{
	position: relative;
	text-align: center;
}

#btn-envio{
	position: relative;
}

#formulario{
	text-align: center
}

#legenda{
	text-align: center;
	margin-top: 10px;
}

#nome-form{
	width: 25%;
	height: auto;
}

#email-form{
	width: 25%;
	height: auto;
}

#assunto-form{
	width: 25%;
	height: auto;
}

#texto{
	position:relative;
	width: 25%;
	height: 180px;
}

.flutuante{
	float: right;
}

.flutuante2{
	float: left;
}

#navegacao{
	background-color: black;
}

#info{
	color: lightgray;
}

.titulo{
	font-family: fantasy;
	font: impact;
	color: black;
	font-weight: bold;
}

.letra{
	color: lightgray;
	font-weight: bold;
}
