.insere{

	position: relative;
}

.corpo{

	background-color: #CDC1C5;
}

.navegacao{

	background-color: #CDC1C5;
	text-align: center;

}

.whoami{

	text-align: justify-all;
	background-color: #B4CDCD;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;	
}

.formation{

	text-align: center;
	background-color: #D1EEEE;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;
}

.hobbies{

	text-align: right;
	background-color: #9BCD9B;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;
	
}


.paragrafo{

	text-align: justify-all;
	font-size: 12px;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #708090;
}

#rodape{

	position: relative;
	text-align: center;
	margin-top: 1.80%;
	margin-bottom: 1.25%;
}

#nome{
	position: relative;
	left: 40%
}

#email{
	position: relative;
	left: 40.10%;
}

#assunto{
	position: relative;
	left:38.5%;
}

#telefone{
	position: relative;
	left:38.3%;
}

#mensagem{
	position: relative;
	left: 31%;
	top: 20%;
}

#texto{
	position:relative;
	left:31%;
	width: 25%;
	height: 180px;
}

#btn-envio{
	position: relative;
	left: 48%;
}
