.corpo{

	background-color: #CDC1C5;
}

.navegacao{

	background-color: #CDC1C5;
	text-align: justify-all;
}
.entrada{

	border-style: solid;
	border-color: black;

}

.input{

	width: 10%;
}

.input-alinha{

	margin-left: 3%;
}

.input-alinha2{

	margin-left: 3.20%;
}

.whoami{
	text-align: justify-all;
	background-color: #B4CDCD;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;	
}

.formation{
	text-align: center;
	background-color: #D1EEEE;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;
}

.hobbies{

	text-align: right;
	background-color: #9BCD9B;
	color: #1C1C1C;
	font-family: fantasy;
	font: impact;
	
}


.borda{

	border-style: solid;
	border-color: black;
}

.barra{

	background: #FF8C69;
}

.paragrafo{

	text-align: justify-all;
	font-size: 12px;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #708090;
}

.rodape{

	text-align: center;
	margin-bottom: 17px;
}
